
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


venv/
.venv/
env/
ENV/


instance/
.webassets-cache


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db


*.log


uploads/*
!uploads/.gitkeep


*.env
.env
config.py


.ipynb_checkpoints/


.easyocr/
torch_cache/

build/
dist/
*.egg-info/


*.sql
